<a href="https://colab.research.google.com/github/doi-shigeo/KMITL-CE-Programming1/blob/main/Programming1_Week02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2nd Week
First of all, please don't forget to make a copy to your Google Drive.

If you download the material from GitHub, you can see "Copy to Drive" button above.
Please click it and change the filename: 

"Copy of Programming1_WeekNN.ipynb" into "XXnickname_Programming1_WeekNN.ipynb" before starting, where XX is last 2 digits of your ID and NN is the number of weeks.
For example, last 2 digit of your ID is 49 and nickname is "Shigeo", 
the filename is "49Shigeo_Programming1_Week02.ipynb"

## Escaping

### Quote a string 
To quote a string, you can use either " (double-quote) or ' (single-quote).

#### Practice
Change the program to display "Hello, Python" using **single-quotes (instead of double-quotes)** to quote the string.

But the start and the end of the string must be matched. In case of string including both a single-quote and a double-quote, **you must put \ (backslash)** to disable the special meaning of the single-quote or double-quote. It is also said "Escape".

These sentenses are intended to display "It'll rain", but the incorrect one will be caught an error.
- Incorrect: ``print('It'll rain.')``
- Correct: ``print('It\'ll rain.')``

#### Practice
1. Change the message as you like, but including at least one single-quote(`'`) in the message.
2. Change the message as you like, but including at least one double-quote(`"`) in the message.

#### Practice
You want to display the message, **"This is Joe's book."** (i.e. including one single-quote and two double-quote).

Please write a program to display the message.

### Data Type (bool, NoneType, int, float, str)
In this work, we consider only five "primitive" data types below in Python.

Data Type | meaning | Example
-|-|-
bool | True(1) or False(0) | True, False
NoneType | Nothing | None
int | an integer number | 1, 3, 0, -7
float | a real number | 3.1, 2.0, -1.5
str | a string (ordered set of letters) | "Hello, Python", "Good Morning!"

NoneType indicates "Nothing" explicitly. Some of functions return the value "None", which indicates nothing to return.

To express a string, you must quote the string with single-quote(') or double-quote("). The quoter should be same in a program code as possible.

Please run the following program and check how the data type of a value is set.

In [ ]:
print(type(True))   # bool
print(type(None))   # NoneType
print(type(3))      # integer
print(type(4.5))    # float
print(type('Hua Hin')) # string

#### Practice: Data type
Write a program to check the data type of the values shown below:
- -0.0
- 0
- "Hello"
- False

### Variable
You can store a value into a variable.
For example, the statement is as follows:
```
a = 1
```
In this statement, `a` is the variable name and the statement means it substitutes 1 into variable `a` (In other words, `a` is set to 1).

This statement do the two steps internally.
1.   Python prepares (allocates) memory for the variable `a`
2.   Python sets the memory to represent 1.

![p1_w02_01.png]()

You can name a variable as you like with some exceptions, such as reserved words.
But you should be able to understand the program even if you have to re-read it after some time off.
Also, in general, a variable name of one character (for example, `i` and `j`) is used for repetition.  

#### Substituting a value into a variable:  
When you want to substitute a value into a variable, you can use `=` operator.
The following lines are examples to substitute a value into a variable.

```
x = 3        # substitute 3 of integer number into x
f = 3.0      # substitute 3.0 of real number into f (so f is different from x)
y = 1.5      # substitute 1.5 of real number into y
z = "HELLO"  # substitute "HELLO" of string into z. You can use ' instead of " .
o = 0o11     # The prefix "0o" means that the value is octal.
h = 0x11     # The prefix "0x" means that the value is hexadecimal.
```

When you want to print a value in a variable, you use `print()` function.
Python allocates the data type automatically, so you sometime have to check the data type of a variable using `type()` function.

```
print(x)       # print the value of x
print(type(x)) # print the data type of x
```

#### Variable naming rule
There are some rules of naming variables. In Python,
1. The variable name must start with an alphabet letter or underscore(_). Otherwise, Python will raise an error.
2. The variable name must contain an alphabet, a number or a underscore(_), except for the first character of the name.
3. Variable names are case-sensitive. For example, variable "x" is different from variable "X". 

In Python, the variable name starting with '_' means that the variable is used internally. 

Examples are shown in the below table:

Valid (Legal) | Invalid (Illegal) 
-|-
`mydept = "Computer"` | `0mydept = "Computer"` 
`my_dept = "Computer"` | `my-dept = "Computer"`
`_my_dept = "Computer"` | `my@dept = "Computer"`
`mydept22 = "Computer"` | `üòç = "Computer"`
`My22dept = "Computer"` | 
`MyDept = "Computer"` | 

You can use Thai character and Japanese character to declare variables since version 3 of Python, but it is inconvenient for program code writing.
In this class, a variable name must contain alphabets, numbers and underscores complying with the rule above.

In [7]:
# An example using Japanese and Thai character variable
„Ç≥„É≥„Éî„É•„Éº„Çø="Computer"
‡∏î‡∏≠‡∏¢="Mountain"

print(„Ç≥„É≥„Éî„É•„Éº„Çø)
print(‡∏î‡∏≠‡∏¢)

Computer
Mountain

In addition to this, the following variable name can't be used because of the reserved word in Python. In other words, there reserved words have other special meanings. These word are different from programming languages.
If you will get used to programming, you will not use such a variable name.

Reserved | Reversed | Reserved | Reserved | Reserved
-|-|-|-|-
False | None | True | and | as 
assert | break | class | continue | def
del | elif | else | except | finally
for | from | global | if | import
in | is | lambda | nonlocal | not
or | pass | raise | return | try
while | with | yield

You shouldn't use the variable name starting with '\_\_' (two underscores) and ending with '\_\_' (two underscores). Such the variables are for internal uses in Python.

#### Practice: Variable naming rules
Please respond to the Google Form: https://forms.gle/kjgYwkPN1gwLqijA6

#### Practice: Basic variable operation
Please make a program satisfying the following specifications:
1. Substituting `10` of an integer number into the variable named `x` .
2. Substituting `1.0` of a real number into the variable named `f` .
3. Substituting `"Enjoy"` of a string into the variable named `z` .
4. Printing the **value** of `x`, `y` and `z`.
5. Printing the **data type** of `x`, `y` and `z`.

Notice: You don't have to take care of data types of variables.