<a href="https://colab.research.google.com/github/doi-shigeo/KMITL-CE-Programming1/blob/main/Programming1_Week03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3rd Week

Please copy the file into your Google Drive and rename it.
Example: "99Shigeo_Programming1_Week03.ipynb"

## 1st Work

### Arithmetic Operations

You can calculate the following operators for an integer or a float:
```
+ : Addition 
- : Subtraction  
* : Multiplication  
/ : Division (the result will be a real number (float))  
% : Modulo (the result will be an integer) 
// : Floor Division  (the result will be an integer)
** : Exponentation  
```

You can use variables and constants to calculate.

For example, In case you want to calculate `3 * y`, where y is a variable, you can write a Program A.  
```
y = 100   # a numerical value
print(y)
y = 3 * y # multiplication 
print(y)
```

For example, In case you want to calculate `x + y`, you can use Program A or Program B.  

Program A:
```
x = 3
y = 4
print(x + y)
print(type(x+y))
```

Program B:
```
x = 3
y = 4
z = x + y
print(z)
print(type(z))
```
You can write the expression directly in print() like Program A.

Moreover, you calculate the expression and substitute its result into a variable like Program B.

Sometimes you can use a short form described below.
These statements are commonly used in other languages.
```
x += 4        # same as x = x + 4 
y -= 1        # same as y = y - 1
z *= 1.5      # same as z = z * 1.5
w /= 3        # same as w = w / 3
v %= 4        # same as v = v % 4
u // = 5      # same as u = u // 5
t ** = 2      # same as t = t ** 2
```

### Work
Please make a program satisfying the following specifications:

1. Substitute 5 of an **integer number** into the variable named x .
2. Substitute 3 of an **integer number** into the variable named y .
3. Calculate and print the following expression: `x+y`, `x-y`, `x*y`, `x/y`, `x%y`, `x//y` and `x**y`, using `print()` function.

In [ ]:
x = 5
y = 3

## Data Type Conversion

Objective: You'll understand the concept of **implicit 'cast'**. Cast means that Python interpreter automatically uses the appropriate data type. 

### Cast (convert a data type into a different type implicitly)
Please make a program satisfying the following specifications:
1. Substitute 5 of an **integer number** into the variable named `x` .
2. Substitute 3.0 of a **real number** into the variable named `y` .
3. Calculate and print `x+y`, `x-y`, `x*y`, `x/y`, `x%y`, `x//y` and `x**y`, using `print()` function.
4. Print data type of the results of arithmetic operations in 3.
5.Calculate and print `y+x`, `y-x`, `y*x`, `y/x`, `y%x`, `y//x` and `y**x`, using `print()` function.
6. Print data type of the results of arithmetic operations in 5.

What types are printed in your result?

In [ ]:
x = 5
y = 3.0

### Cast (convert a data type into a different type explicitly)
You can cast the data types explicitly **if possible**.

`y = float(x)`: the data type of `y` is `float`.  
`y = int(x)`: the data type of `y` is `int`.  
`y = str(x)`: the data type of `y` is `str`.  

if `x` can't be converted into desired data type, Python generates an error. 

Please make a program satisfying the following specifications:
1. Let me assume that the data type `x` is `int`, that of `y` is `float` and that of `z` is `str`.
For example, `x = 4`, `y = 4.5` and `z = '5'`
2. Calculate the following expressions and and print the result of them:
  * `x + z`
  * `x - z`
  * `x * z`
  * `x / z`
  * `x // z`
  * `x % z`
  * `y + z`
  * `y - z`
  * `y * z`
  * `y / z`
  * `y // z`
  * `y % z`

In [ ]:
x = 4
y = 4.5
z = '5'

## User input
When you accept user input, You can use `input()` function.
```
str = input("Message: ")
```
`str` is stored user input as a "string", if you want to use the variable `str` as a number, please use either `int()` function or `float()` function to cast.

In [ ]:
str = input("Message: ")
print(str)

In [ ]:
str_num = input("Input a number: ")
num = int(str_num) # convert str_num to integer. if Python can't convert it to integer, it causes a runtime error.
print(num)

In [ ]:
str_f = input("Input a number: ")
f = float(str_f) # convert str_num to integer. if Python can't convert it to integer, it causes a runtime error.
print(f)

## Practice: Calculate the area of a square

Please make a program to satisfy the following:
1. First, a user inputs the length of edges of a square. 
2. Then, calculate the area of the square.
3. Finally, print the area of square.

In the figure below, *a* is the length of edges of the square.
So, the area of the square is *a* times *a*. 

![asq.png]()

Sample of execution
Length of edges of a square: 1.8
3.24

## An advanced application: A RSA cryptosystem example)

Please make the program with the following procedure.
1. Substitute 5 of an integer number into the variable named `e` (hint: this means "e = 5").
2. Substitute 13 of an integer number into the variable named `p`.
3. Substitute 3 of an integer number into the variable named `q`.
4. Substitute 5 of an integer number into the variable named `d`.
   (`d` is set to satisfy the following condition: (`d` * `e`) % ((`p`-1) * (`q`-1)) = 1
5. Calculate `N` = `p` * `q` (in this area, N= 39)
5. You can set `C` of integer number and the range of `C` is from 1 to 38 (=`N`-1). You can get user input (please remember to cast it into integer).
6. Calculate `M` = (`C` ** `e`) % `N`
7. Calculate `D` = (`M` ** `d`) % `N`

What results of D will you get? Let's try different C and compare C to D.

Note: e, p, q are prime numbers, which means that it can be divided by one and itself.  
Further Learning: e, N are **public keys**, whereas d, p, q are **secret keys**.

The process to calculate M is **encryption** and the process to calculate D is **decryption** in the RSA cryptosystem.